# Eclipse generated
.project
.classpath
.settings
.factorypath
*/.gitignore
*/build.xml
*/bin/
nbproject/
workingsets.xml
\.externalToolBuilders/
/.metadata/

# intellij generated
*.iml
.idea

# Python bytecode
*.pyc

# Generated
target/*


*.log

# Java bytecode
*.class



#other
.*.sw[a-p]
.DS_Store
*/.ropeproject/*

